.awardH1{
     
    color: antiquewhite;
}
.awardPara{
    
     color: antiquewhite;
     font-size: 1.3rem;
}

.appStore:hover{ 
    border-radius: 1rem;
    border-color: rgba(59, 130, 246, 0.5);
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.7);
}
.googlePlay:hover{
    border-radius: 1rem;
     border-color: rgba(59, 130, 246, 0.5);
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.7);
}


@media (max-width: 1000px) {
   
    .awardH1 {
        font-size: 1.7rem !important;
        margin-bottom: 0.75rem;
        padding: 0 0.5rem;
        line-height: 1.3;
    }
    
    .awardPara {
        font-size: 0.8rem !important;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        padding: 0 0.5rem;
        max-width: 100% !important;
    }
  
}

@media (max-width: 600px) {
   
    .awardH1 {
        font-size: 1.2rem !important;
        margin-bottom: 0.6rem;
        padding: 0 0.5rem;
        line-height: 1.3;
    }
    
    .awardPara {
        font-size: 0.7rem !important;
        line-height: 1;
        margin-bottom: 1.25rem;
        padding: 0 0.5rem;
        max-width: 100% !important;
    }
  
}
