.glow-card {
    background: linear-gradient(135deg, #0D1216, #17354F);
    border-radius: 15px;
    border: 1px solid rgba(59, 130, 246, 0.3);
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
    transition: all 0.3s ease;
    height: 25rem;
}

.glow-card:hover {
    box-shadow: 0 0 40px rgba(59, 130, 246, 0.6);
    border: 1px solid rgba(59, 130, 246, 0.6);
  
}
.text{
     color: aqua;
     line-height: 0.5;

}

     
@media (max-width: 700px) {
   
    .statsH1 {
        font-size: 1.7rem !important;
        margin-bottom: 0.6rem;
        padding: 0 0.5rem;
        line-height: 1.3;
    }
    
    .statsPara {
        font-size: 0.8rem !important;
        line-height: 1;
        margin-bottom: 1.25rem;
        padding: 0 0.5rem;
        max-width: 100% !important;
    }
    h2{
         font-size: 1.7rem;
    }
    p{
         font-size: 0.8rem;
    }

  
  
}
    

   

